.movie {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;

  >* {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  &__infos {
    >* {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
}
